{% extends 'base3.html' %}

{% block title %}Rooms | {% endblock %}

{% block content %}

<div class="left_display">
    <div class="text_center">
        <p>1:1채팅방</p>
        <div class="w-full flex flex-wrap items-center flex-col">
            {% for room in rooms %}
                {% if not room.pw %}
                    <div class="w-full lg:w-3/4 px-3 py-3">
                        <div class="p-4 bg-white shadow rounded-xl text-center flex">
                            <h2 class="mb-5 text-2xl font-semibold" style="margin-right: 20px;">{{ room.name }}</h2>
                            <a href="{% url 'room' room.slug %}" class="px-5 py-3 block rounded-xl text-white bg-teal-600 hover:bg-teal-700" style="width: 100px; height: 50px; text-align: center; display: flex; justify-content: center; align-items: center;">Join</a>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                {% if forloop.first %}
                    <p>현재 참가중인 1:1 채팅방이 없습니다.</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="right_display">
    <div class="text_center">
        <p>팀 채팅방</p>
        <div class="w-full flex flex-wrap items-center flex-col">
            {% for room in rooms %}
                {% if room.pw %}
                    <div class="w-full lg:w-3/4 px-3 py-3">
                        <div class="p-4 bg-white shadow rounded-xl text-center flex">
                            <h2 class="mb-5 text-2xl font-semibold">{{ room.name }}</h2>
                            <form method="POST" action="{% url 'room' room.slug %}">
                                {% csrf_token %}
                                <a href="{% url 'room' room.slug %}" class="px-5 py-3 block rounded-xl text-white bg-teal-600 hover:bg-teal-700" style="width: 100px; height: 50px; text-align: center; display: flex; justify-content: center; align-items: center;">Join</a>
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                {% if forloop.first %}
                    <p>현재 참가중인 팀 채팅방이 없습니다.</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% if error %}

<p class="text-red-500">{{ error }}</p>
<script>
    setTimeout(function() {
        window.location.href = "{% url 'rooms' %}";
    }, 3000);
</script>
{% endif %}
{% endblock %}