{% extends 'base3.html' %}

{% block title %}{{ room.name }} | {% endblock %}

{% block content %}

<div style="background-color:#e6e7eb;">
    <div class="p-10 lg:p-20 text-center">
        <h1 class="text-3xl lg:text-6xl text-black">{{ room.name }}</h1>
    </div>

    <div class="lg:w-3/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl" style="border: 1px solid black;">
        <div class="chat-messages space-y-3" id="chat-messages">
            {% for m in messages %}
                <div class="message">
                    <div class="message-sender">
                        {% with profile=m.user.profile %}
                            {% if profile %}
                                {% if profile.profile_image %}
                                    <img src="{{ profile.profile_image.url }}" alt="{{ m.user.username }} 프로필 이미지" class="profile-image">
                                {% else %}
                                    <span class="default-profile-image">{{ m.user.username|slice:"1" }}</span>
                                {% endif %}
                            {% else %}
                                <span class="default-profile-image">{{ m.user.username|slice:"1" }}</span>
                            {% endif %}
                        {% endwith %}
                        <a href="{% url 'user_mypage' username=m.user.username %}" class="btn btn-link" style="color: black; text-decoration: none;">{{ m.user.username }}</a>
                    </div>
                    <div class="message-content">{{ m.content }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>

<div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl" style="border: 1px solid black;">
    <form method="post" action="." class="flex">
        <input type="text" name="content" class="flex-1 mr-3" placeholder="Your message..." id="chat-message-input">

        <button class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700" id="chat-message-submit">전송</button>
    </form>
</div>

</div>

{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.message) {
            const messageContainer = document.createElement('div');
            messageContainer.classList.add('message');

            const messageSender = document.createElement('div');
            messageSender.classList.add('message-sender');

            {% with profile=data.profile %}
                {% if profile %}
                    {% if profile.profile_image %}
                        const profileImage = document.createElement('img');
                        profileImage.src = "{{ profile.profile_image.url }}";
                        profileImage.alt = "{{ data.username }} 프로필 이미지";
                        profileImage.classList.add('profile-image');

                        messageSender.appendChild(profileImage);
                    {% else %}
                        const defaultProfileImage = document.createElement('span');
                        defaultProfileImage.classList.add('default-profile-image');
                        defaultProfileImage.textContent = "{{ data.username|slice:'1' }}";

                        messageSender.appendChild(defaultProfileImage);
                    {% endif %}
                {% else %}
                    const defaultProfileImage = document.createElement('span');
                    defaultProfileImage.classList.add('default-profile-image');
                    defaultProfileImage.textContent = "{{ data.username|slice:'1' }}";

                    messageSender.appendChild(defaultProfileImage);
                {% endif %}
            {% endwith %}

            const username = document.createElement('div');
            username.classList.add('username');
            username.textContent = data.username;

            messageSender.appendChild(username);

            const messageContent = document.createElement('div');
            messageContent.classList.add('message-content');
            messageContent.textContent = data.message;

            messageContainer.appendChild(messageSender);
            messageContainer.appendChild(messageContent);

            document.querySelector('#chat-messages').appendChild(messageContainer);
        } else {
            alert('The message was empty!');
        }

        scrollToBottom();
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault();

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        if (message.trim()) {
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'room': roomName
            }));
        }

        messageInputDom.value = '';

        return false;
    };

    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
</script>
{% endblock %}