{% extends "base2.html" %}
{% block style %}
<style>
  .btn-primary {
    background-color: blue !important;
    border-color: blue !important;
  }
    .btn.btn-outline-primary input[type="radio"]:checked + label {

    }
    .btn-check {
      font-size: 25px;
    }
  .btn-check:checked + label.btn-outline-primary {
    color: white;
    background-color: blue;
    border-color: blue;
  }
  .btn-outline-primary.selected {
    color: blue;
    background-color: white;
    border-color: blue;
  }
  .btn-outline-primary {
    width: 1px;
    height: 45px;
    font-size: 25px;
    padding: 0;
  }
  .category-container.btn-group {
      display: flex;
      width: 100%;
    }

    .category-container.btn-group label {
      flex-grow: 1;
      font-weight: bold;
    }
    .category-container.btn-group input[type="radio"],
    .category-container.btn-group label {
      border-radius: 18px;
    }
    #category_all.btn-check,
    #category_all + label {
      border-radius: 18px 0 0 15px;
    }
    .hot_board_posts {
        background-color:white;
        width: 88%;
        margin: 0 auto;
        padding: 30px 40px 10px 40px;
    }
</style>
{% endblock %}
{% block content %}
<div class="row mt-3">
  <div>
    <table class="table">
      <thead class="thead-dark">
      </thead>
        <!-- jQuery 라이브러리 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap Carousel 라이브러리 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
     <script>
            $(document).ready(function() {
        // Carousel 자동 슬라이딩 함수
        function autoSlide() {
            $('.carousel').carousel('next');
            setTimeout(autoSlide, 3000);
        }

        // 함수 실행
        autoSlide();
    });
    </script>

<div style="margin: 0px 0px 20px 10px;">
    <form method="GET" action="." class="search-form" id="category-form">
      {% csrf_token %}
      <div class="category-container btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" id="category_all" class="btn-check" name="category" value="" {% if selected_category is None %}checked{% endif %}>
          <label class="btn btn-outline-primary" for="category_all" style="font-size: 20px;" >전체</label>
          {% for category in category_list %}
          <input type="radio" id="category_{{ category.name }}" class="btn-check" name="category" value="{{ category.name }}"
                 {% if selected_category == category.name %}checked{% endif %}>
          <label class="btn btn-outline-primary" for="category_{{ category.name }}" style="font-size: 20px;">{{ category.name }}</label>
          {% endfor %}
      </div>
    </form>

    <script>
      var categoryRadios = document.querySelectorAll('input[name="category"]');

      categoryRadios.forEach(function(radio) {
        radio.addEventListener('change', function() {
          if (this.checked) {
            categoryRadios.forEach(function(radio) {
              radio.nextElementSibling.classList.remove('selected');
            });
            this.nextElementSibling.classList.add('selected');
            document.getElementById('category-form').submit();
          }
        });
      });
    </script>
</div>

    <div>
    <p class="bold-text">당신의 팀을 찾아 보세요.</p>

</div>
<div style="text-align: right;">
    <button type="button" style="border: none; background-color: transparent; font-size: 20px; font-weight: bold; color: blue;" onclick="location.href='/board/write/'">>>게시글 작성하러 가기</button>
</div>

<div class="hot_board_posts_all" style="background-color:#e6e7eb">
    <div class="hot_board_posts">
          <div class="text-center" style="border-bottom: 1.5px solid black; margin-bottom: 15px;">
              <p style="font-weight: bold; text-align:left; font-size: 20px;">인기 게시물</p>
          </div>

          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" >
            {% for popular_board in popular_boards %}
              {% if forloop.first or forloop.counter0|divisibleby:3 %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row">
              {% endif %}
                  <div class="col-md-4" >
                    <div class="card mb-4" style="margin: 20px; padding: 10px;">
                      {% if popular_board.image %}
                      <img class="card-img-top" src="{{ popular_board.image.url }}" alt="{{ popular_board.title }}"  style="width: 200px; height: 200px; object-fit: cover;">
                      {% else %}
                      <img class="card-img-top" src="/static/images/no_image.png" alt="no image">
                      {% endif %}
                      <div class="card-body" >
                        <h5 class="card-title">{{ popular_board.title }}</h5>
                        <p class="card-text">{{ popular_board.writer }}</p>
                        <a href="/board/detail/{{ popular_board.id }}/" class="btn btn-dark">자세히 보기</a>
                        <p style="margin-top:5px;">
                              <span style="display: inline-block; margin-right: 5px;">
                                  <img src="/media/images/KakaoTalk_Image_2023-06-06-19-41-01.png" style="width: 30px; height: 17px;" alt="">
                              </span>
                              <span>{{ popular_board.views }}</span>
                          </p>
                      </div>
                    </div>
                  </div>
              {% if forloop.last or forloop.counter0|add:1|divisibleby:3 %}
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
    <br>
    <div class="hot_board_posts">
      <div class="text-center" style="border-bottom: 1.5px solid black; margin-bottom: 15px;">
          <p style="font-weight: bold; text-align:left; font-size: 20px; ">공모전 게시물</p>
      </div>


<style>
  .card {
    height: 100%;
  }
</style>

<div class="row">
  {% for board in boards %}
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="row no-gutters" style="margin: 10px">
          <div class="col-md-4">
            {% if board.image %}
              <img src="{{ board.image.url }}" class="card-img" alt="{{ board.title }}">
            {% else %}
              <img src="/static/images/no_image.png" class="card-img" alt="이미지 없음">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;">{{ board.title }}</h5>
              <div class="writer-profile">
                {% if board.writer.profile.profile_image %}
                  <img src="{{ board.writer.profile.profile_image.url }}" alt="{{ board.writer.username }}의 프로필 이미지">
                {% endif %}
                <a href="{% url 'user_mypage' username=board.writer.username %}" class="btn btn-link" style="color: black; text-decoration: none;">{{ board.writer }}</a>

              </div>
              <p>{{ board.category }}</p>
            {% if board.writer == request.user %}
                  <p>채팅방 비밀번호: {{ board.pw }}</p>
                {% endif %}
              <a href="/board/detail/{{ board.id }}/" class="btn btn-primary">자세히 보기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2 and not forloop.last %}
      </div><div class="row">
    {% endif %}
  {% endfor %}
</div>

</div>
</div>
      </tbody>
    </table>

  </div>
</div>
{% endblock %}