{% extends "base2.html" %}
{% block content %}
<div class="row mt-5">
  <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
      </thead>
        <!-- jQuery 라이브러리 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap Carousel 라이브러리 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

     <script>
            $(document).ready(function() {
        // Carousel 자동 슬라이딩 함수
        function autoSlide() {
            $('.carousel').carousel('next');
            setTimeout(autoSlide, 3000);
        }

        // 함수 실행
        autoSlide();
    });
    </script>

      <tbody>
      <div class="row mt-5" style="margin:auto; display: block;">
  <div class="navbar-row" >
          <div class="navbar-name">
              <a class="navbar-brand" href="/board/list/" style="font-size: 36px; color:blue; margin: auto; font-family: Gilroy; font-weight: bold; padding: 0;">
                Sinabro
                </a>

            <div class="util" >
              {% if user.is_authenticated %}
              <button type="button" class="btn " style="font-weight: bold; float:right; margin: 23px 15px;" onclick="location.href='/auth/logout/'">로그아웃</button>
              <button type="button" class="btn "  style="margin: 23px 15px; float:right;    " onclick="location.href='/mypage'">My Page</button>
              <button type="button" class="btn "  style="margin: 25px 25px 25px 230px; " onclick="location.href='/board/post/'">게시글</button>
              <button type="button" class="btn "  style="margin: 25px 20px;" onclick="location.href='/board/list'">포트폴리오</button>
              {% else %}
              <button type="button" class="btn " style=" margin: 23px 15px; font-weight: bold; float:right;" onclick="location.href='/auth/login/'">로그인</button>
              <button type="button" class="btn "  style="margin: 25px 25px 25px 230px; " onclick="location.href='/board/post/'">게시글</button>
              <button type="button" class="btn "  style="margin: 25px 20px;" onclick="location.href='/board/list'">포트폴리오</button>
              <button type="button" class="btn " style=" margin: 23px 15px; font-weight: bold; float:right;" onclick="location.href='/auth/register/'">회원가입</button>
              {% endif %}
            </div>
          </div>
  </div>
    <section class="search" style="padding: 10px 10px 0 10px">
        <div class="warp" style="position:relative; display:inline-block; left: 400px">
            <form action="{% url 'search' %}" method="GET">
                <input type="text" style="margin:auto; display:block; height: 30px; width: 350px; padding: 15px 48px 15px 21px; border-radius: 20px; " name="keyword" class="search-keyword" placeholder="검색" autocomplete="off">
                <input type="submit" style="position: absolute; right: 0px; top: 15px; width: 35px; height: 35px; border: none; color: transparent; background: transparent url(/media/images/filter.search.png) no-repeat center center; background-size: 24px 24px; " class="submit">
            </form>
        </div>
    </section>
</div>
<br>

                <!-- Carousel 컨테이너 -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <!-- 인디케이터 (사용하지 않을 수도 있습니다) -->
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <!-- Carousel 내용 -->
          <div class="carousel-inner">
            <div class="carousel-item active" style="height: 600px;">
              <img class="d-block w-100" src="https://via.placeholder.com/800x400.png?text=Slide+1" alt="First slide">
            </div>
            <div class="carousel-item" style="height: 600px;">
              <img class="d-block w-100" src="https://via.placeholder.com/800x400.png?text=Slide+2" alt="Second slide">
            </div>
            <div class="carousel-item" style="height: 600px;">
              <img class="d-block w-100" src="https://via.placeholder.com/800x400.png?text=Slide+3" alt="Third slide">
            </div>
          </div>
          <!-- 이전/다음 버튼 -->
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      <style>
        .card {
          width: 300px;
          height: 400px;
        }
    </style>
    <p style="text-align: center; font-weight: bold; font-size: 24px;">조회수 높은 공모전</p>

     <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for popular_board in popular_boards %}
          {% if forloop.first or forloop.counter0|divisibleby:3 %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="row">
          {% endif %}
              <div class="col-md-4">
                <div class="card mb-4">
                  {% if popular_board.image %}
                  <img class="card-img-top" src="{{ popular_board.image.url }}" alt="{{ popular_board.title }}"  style="width: 200px; height: 200px; object-fit: cover;">
                  {% else %}
                  <img class="card-img-top" src="/static/images/no_image.png" alt="no image">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{ popular_board.title }}</h5>
                    <p class="card-text">{{ popular_board.writer }}</p>
                    <a href="/board/detail/{{ popular_board.id }}/" class="btn btn-primary">자세히 보기</a>
                    <p>조회수: {{ popular_board.get_hit_count }}</p>
                    <p>카테고리: {{ board.category }}</p>
                  </div>
                </div>
              </div>
          {% if forloop.last or forloop.counter0|add:1|divisibleby:3 %}
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

      </tbody>
    </table>
  </div>
</div>
<div id="warp" style="min-height: 250px; position: relative; width: 100%; background-color: #f0f3fa; margin-top: 40px">
      <footer style="width: 100%; height: 100px bottom: 0px; position: absolute; ">
          <section style="padding-bottom: 30px">

          </section>
          <nav>
            <a class="nav-brand" href="/" style=" text-decoration: none; font-size: 22px; color:blue; margin: 15px 0px 0px 45px; font-family: Gilroy; font-weight: bold; padding: 0;" target="_blank">
                Sinabro</a>
              <a style="font-weight: bold; opacity: 0.5; "> | </a>

          </nav>
          <p>
              <span style="display: block; margin: 35px 0px 12px 45px; font-size: 15px; opacity: 0.8;">이학성 | aaaa@gmail.com</span>
              <span style="display: block; margin: 0px 0px 12px 45px; font-size: 15px; opacity: 0.8;">정승국 | bbbb@naver.com</span>
              <span style="display: block; margin: 0px 0px 12px 45px; font-size: 15px; opacity: 0.8;">강남호 | cccc@naver.com</span>
          </p>
      </footer>
    </div>
<!--
<div class="row mt-2">
  <div class="col-12">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if boards.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?p={{ boards.previous_page_number }}"
            >Previous</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Previous</a>
        </li>
        {% endif %}
        <li class="page-item">
          <a class="page-link" href="#"
            >{{ boards.number }} / {{ boards.paginator.num_pages }}</a
          >
        </li>
        {% if boards.has_next %}
        <li class="page-item">
          <a class="page-link" href="?p={{ boards.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
-->
{% endblock %}