{% extends "base2.html" %}

{% block content %}
<div class="form1" style="background-color: #e6e7eb">
    <div class="form2" style="background-color: white; width: 83%; margin: 0 auto; padding: 30px 40px 10px 40px;">
    <div class="form-group">
      <div class="container" style="display: flex; align-items: center;">
          {% if board.image %}
          <img src="{{ board.image.url }}" alt="{{ board.title }}" style="max-width: 50%;margin-right: 10px;">
          {% endif %}
          <input type="text" class="form-control" id="title" value="{{ board.title }}" style="border: 0 solid black; font-weight: bold; font-size: 50px;">
      </div>
      <section class="tab" style="margin: 10px 0px 0px 0px; display: flex;">
        <div style="flex: 1; text-align: center; border-bottom: 1.5px solid blue; border-right: 1.5px solid blue; padding: 18px;">
            {% if request.user.is_authenticated %}
            {% if request.user in board.likes.all %}
                <a href="{% url 'like_post' board_id=board.id %}" >
                    <i class="fas fa-heart" style="font-size: 30px; float:left;"></i>
                </a>
            {% else %}
                <a href="{% url 'like_post' board_id=board.id %}">
                    <i class="far fa-heart" style="font-size: 30px; float: left;"></i>
                </a>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}">로그인</a> 후에 좋아요를 누를 수 있습니다.
        {% endif %}
          <a href="/" style="text-decoration: none; color: blue; font-weight: bold; margin: 0 40px 0 10px; ">
            <span style="font-size: 20px; ">소개</span>
          </a>
        </div>
        <div style="flex: 1; text-align: center; border-bottom: 1.5px solid blue; border-right: 1.5px solid blue; padding: 18px;">
            {% if board.chat_room.pw %}
            <button type="button" style="border: none; background-color: white; font-size: 20px; font-weight: bold; color: blue;"  onclick="redirectToChatRoom()">채팅방으로 이동</button>
            {% if room_error %}
                <p style="color: red;">{{ room_error }}</p>
            {% endif %}
        {% else %}
            <p>채팅방 이름: {{ board.chat_room.name }}</p>
            <button type="button" style="border: none; background-color: white; font-size: 20px; font-weight: bold;" onclick="location.href='{% url 'room' board.chat_room.slug %}'">채팅방으로 이동</button>
        {% endif %}

        </div>
        <div style="flex: 1; text-align: center; border-bottom: 1.5px solid blue; padding: 18px; display: inline;">
            <a href='/' style="text-decoration: none; color: blue; font-weight: bold;">
              <span style="font-size: 20px;">작성자와 1:1대화</span>
            </a>
        </div>
    </section>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



    <div style="border: 1px solid black; border-radius: 10px; padding: 10px; margin: 30px 0px 0px 0px;">
        <fieldset style="padding: 30px 0px 30px 0px">
            <legend>모집 기간</legend>
                <div>
                    <label for="start_date">모집 시작일:</label>
                    <span id="start_date">{{ board.recruitment_start_date }}</span>
                </div>
                <div>
                    <label for="end_date">모집 마감일:</label>
                    <span id="end_date">{{ board.recruitment_end_date }}</span>
                </div>
            <br>
                <p>조회수: {{ board.get_hit_count }}</p>
                <p>카테고리: {{ board.category }}</p>
        </fieldset>
    </div>
    </div>
    <div style="margin: 20px 0px 40px 0px;">
    <div class="contents1" style="margin: 0px 0px 25px;">
      <textarea class="form-control" id="contents" style="resize: none; outline: none; " readonly cols = "40" rows="20">{{ board.contents }}</textarea>
    </div>
    <button type="button" class="btn btn-primary" onclick="location.href='/board/list/'">돌아가기</button>
      {% if user.username|stringformat:"s" == board.writer|stringformat:"s" %}
        <div class="btn-group">
        <a href="{% url 'board_modify' board.pk %}" class="btn btn-danger">수정</a>
        <form id="delete-form" method="POST" action="{% url 'board_delete' pk=board.pk %}">
            {% csrf_token %}
        </form>
        <a href="#" class="btn btn-danger" onclick="if(confirm('정말 삭제하시겠습니까?')){event.preventDefault(); document.getElementById('delete-form').submit();}">삭제</a>
      </div>
     {% endif %}
    </div>
<form id="commentForm" method="post" action="{% url 'board_detail' pk=board.pk %}" >
             {% csrf_token %}
    <textarea name="content" cols="40" rows="10" required="" id="id_content" style="margin-bottom: 20px; border-radius: 5px;"></textarea>
    <button class="btn btn-dark btn-lg" id="commentSubmit" type="button" style="margin-bottom: 20px; display: inline;">댓글 작성</button>
         </form>
         <script>
  document.addEventListener("DOMContentLoaded", function() {
    const commentForm = document.getElementById("commentForm");
    const commentSubmit = document.getElementById("commentSubmit");
    commentSubmit.addEventListener("click", function() {
      commentForm.submit();
    });
    commentForm.addEventListener("keydown", function(event) {
      if (event.keyCode === 13 && !event.shiftKey) {
        event.preventDefault();
        commentForm.submit();
      }
    });
  });
            </script>

{% for comment in comments %}
    <div class="comment">
        <div class="comment-profile">
            <!-- 프로필 이미지 -->
            <img src="{{ comment.author.profile.profile_image.url }}" alt="{{ comment.author.username }}의 프로필 이미지">
        </div>
        <div class="comment-content">
            <p style="display: inline;"> 작성자 :</p>
            <p style="font-weight: bold; display: inline; font-size: 20px;" class="comment-author">
                {{ comment.author }}
            </p>
            {% if comment_edit_id == comment.id %}
                <!-- 댓글 수정 폼 -->
                <form method="post" action="{% url 'comment_edit' pk=board.pk comment_id=comment.id %}">
                    {% csrf_token %}
                    <textarea name="content" required id="id_contents" style="resize: none; width: 95%; height: 100px;"></textarea>
                    <button class="btn btn-dark" type="submit" onclick="saveScrollPosition(event)">수정 완료</button>
                </form>
            {% else %}
                <p class="comment-text">
                    {{ comment.content }}
                </p>
                {% if comment.author == request.user %}
                    <!-- 댓글 수정 버튼 -->
                    <form method="post" action="{% url 'board_detail' pk=board.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="edit_comment" value="{{ comment.id }}" style="width: 300px; height: 100px;">
                        <button class="btn btn-dark" type="submit" onclick="saveScrollPosition(event)">댓글 수정</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        {% if comment.author == request.user %}
            <div class="comment-delete">
                <!— 댓글 삭제 버튼 —>
                <form method="post" action="{% url 'board_detail' pk=board.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="delete_comment" value="{{ comment.id }}">
                    <button class="btn btn-dark" type="submit">댓글 삭제</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endfor %}

    </div>
</div>
<script>
    function redirectToChatRoom() {
        var password = prompt("비밀번호를 입력하세요:");
        if (password) {
            var form = document.createElement("form");
            form.method = "POST";
            form.action = "{% url 'room' board.chat_room.slug %}";
            var csrfInput = document.createElement("input");
            csrfInput.type = "hidden";
            csrfInput.name = "csrfmiddlewaretoken";
            csrfInput.value = "{{ csrf_token }}";
            var passwordInput = document.createElement("input");
            passwordInput.type = "hidden";
            passwordInput.name = "pw";
            passwordInput.value = password;
            form.appendChild(csrfInput);
            form.appendChild(passwordInput);
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
{% endblock %}