{% extends "base2.html" %}
{% block content %}
<div class="row mt-5">
  <div class="col-12">
    <form method="POST" action="." enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.name == 'contents' %}
        <textarea
          class="form-control"
          name="{{ field.name }}"
          placeholder="{{ field.label }}"
        >{{ board.contents }}</textarea>
        {% elif field.name == 'category' %}
        <select
          class="form-control"
          id="{{ field.id_for_label }}"
          name="{{ field.name }}"
        >
          {% for choice in field.field.choices %}
          <option value="{{ choice.0 }}">{{ choice.1 }}</option>
          {% endfor %}
        </select>
        {% else %}
        <input
          type="{{ field.field.widget.input_type }}"
          class="form-control"
          id="{{ field.id_for_label }}"
          placeholder="{{ field.label }}"
          name="{{ field.name }}"
          value="{{ board.title }}"
        />
        {% endif %}
      </div>
      {% if field.errors %}
      <span style="color: red;">{{ field.errors }}</span>
      {% endif %}
      {% endfor %}
      <button type="submit" class="btn btn-primary">글쓰기</button>
    </form>
  </div>
</div>
{% endblock %}
