<!DOCTYPE html>
{% extends "base2.html" %}
{% block content %}

<div class="row mt-5" style="margin:auto; display: block;">
  <div class="navbar-row" >
          <div class="navbar-name">
              <a class="navbar-brand" href="/" style="font-size: 40px; color:blue; margin: auto; font-family: Gilroy; font-weight: bold; padding: 0;">
                Sinabro
                </a>

              {% if request.session.user %}
            <div class="util" >
              <button type="button" class="btn " style="font-weight: bold; float:right;" onclick="location.href='/auth/logout/'">로그아웃</button>
              {% else %}
              <button type="button" class="btn "  style="margin: 25px 25px 25px 230px; " onclick="location.href='/board/list/'">게시글</button>
              <button type="button" class="btn "  style="margin: 25px 20px;" onclick="location.href='/board/list'">포트폴리오</button>
              <button type="button" class="btn " style=" margin: 23px 15px; font-weight: bold; float:right;" onclick="location.href='/auth/register/'">회원가입</button>
              <button type="button" class="btn " style=" margin: 23px 15px; font-weight: bold; float:right;" onclick="location.href='/auth/login/'">로그인</button>
            </div>
          </div>
  </div>
    <section class="search" style="padding: 10px 10px 0 10px">
        <div class="warp">
            <form action="{% url 'search' %}" method="GET">
            <input type="text" style="margin:auto; display:block; height: 30px; width: 350px; padding: 15px 48px 15px 21px; border-radius: 20px; " name="keyword" class="search-keyword" placeholder="검색" autocomplete="off">
            <input type="submit" style="position: absolute; right: 468px; top: 145px; width: 35px; height: 35px; border: none; color: transparent; background: transparent url(/media/images/filter.search.png) no-repeat center center; background-size: 24px 24px; " class="submit">

            </form>

            {% if results %}
            <div class="search-bar">
                <div class="search-result" style="font-weight: bold; font-size: 25px; margin: 20px 20px;">"{{ keyword }}" 검색 결과</div>
                <div class="col-12">
                    <table class="table">
                    <thead class="thead-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">이미지</th>
                          <th scope="col">제목</th>
                          <th scope="col">아이디</th>
                          <th scope="col">작성일</th>
                          <th scope="col">최종수정일</th>
                        </tr>
                      </thead>
                {% for board in results %}
                <tr onclick="location.href='/board/detail/{{ board.id }}/'">
                <th scope="row">{{ board.id }}</th>
                    {% if board.image %}
                        <td><img src="{{ board.image.url }}" width="100" alt="{{ board.title }}"></td>
                    {% else %}
                        <td><img src="/static/images/no_image.png" width="100" alt="no image"></td>
                    {% endif %}
                <td>{{ board.title }}</td>
                <td>{{ board.writer }}</td>
                <td>{{ board.created_at }}</td>
                <td>{{ board.updated_at }}</td>
                </tr>
                {% endfor %}

            {% else %}
                 <p>검색 결과가 없습니다.</p>
            {% endif %}
                    </table>
                </div>
        </div>
        </div>

    </section>
</div>
{% endif %}
{% endblock %}
