{% extends "base2.html" %} {% block style %} {% endblock %} {% block content %}
<div class="form3" style="background-color:#e6e7eb;">
   <div class="all-search" style="display: flex; justify-content: space-between;">
       {% if board_results %}
      <div class="team-search" style="background-color: white; width: 44%; margin-left: 80px; padding: 30px 40px 10px 40px; min-height: 700px;">
         <div class="search-bar">
            <div style="margin-bottom: 30px; border-bottom: 1.5px solid gray; padding-bottom: 15px;">
               <div class="search-result" style="font-weight: bold; font-size: 25px; display: inline;">
                  "{{ keyword }}"
               </div>
               <p style="display: inline">
                  게시글 검색 결과
               </p>
            </div>
             {% for board in board_results %}
            <div class="col-md-0">
               <div class="card mb-4">
                  <div class="row no-gutters" style="margin: 10px">
                     <div class="col-md-4">
                         {% if board.image %} <img src="{{ board.image.url }}" class="card-img" alt="{{ board.title }}">
                        {% else %} <img src="/static/images/no_image.png" class="card-img" alt="no image">
                        {% endif %}
                     </div>
                     <div class="col-md-8">
                        <div class="card-body">
                           <h5 class="card-title" style="font-weight: bold;">{{ board.title }}</h5>
                           <p class="card-text">
                              {{ board.writer }}
                           </p>
                           <p>
                              {{ board.category }}
                           </p>
                           <a href="/board/detail/{{ board.id }}/" class="btn btn-dark">자세히 보기</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
             {% endfor %}
         </div>
      </div>
       {% else %}
      <div class="team-search" style="background-color: white; width: 44%; margin-left: 80px; padding: 30px 40px 10px 40px; min-height: 700px;">
         <div style="margin-bottom: 30px; border-bottom: 1.5px solid gray; padding-bottom: 15px;">
            <div class="search-result" style="font-weight: bold; font-size: 25px; display: inline;">
               "{{ keyword }}"
            </div>
            <p style="display: inline">
               에 대한 게시글 검색 결과가 없습니다.
            </p>
         </div>
      </div>
       {% endif %} {% if portfolio_results %}
      <div class="popol-search" style="background-color: white; width: 44%; padding: 30px 40px 10px 40px; margin-right: 80px; min-height: 700px;">
         <div class="search-bar">
            <div style="margin-bottom: 30px; border-bottom: 1.5px solid gray; padding-bottom: 15px;">
               <div class="search-result" style="font-weight: bold; font-size: 25px; display: inline;">
                  "{{ keyword }}"
               </div>
               <p style="display: inline">
                  포트폴리오 검색 결과
               </p>
            </div>
             {% for board in portfolio_results %}
            <div class="col-md-0">
               <div class="card mb-4">
                  <div class="row no-gutters">
                     <div class="col-md-4">
                         {% if board.image %} <img src="{{ board.image.url }}" class="card-img" alt="{{ board.title }}">
                        {% else %} <img src="/static/images/no_image.png" class="card-img" alt="no image">
                        {% endif %}
                     </div>
                     <div class="col-md-8">
                        <div class="card-body">
                           <h5 class="card-title">{{ board.title }}</h5>
                           <p class="card-text">
                              {{ board.writer }}
                           </p>
                           <a href="{% url 'portfolio_detail' portfolio_id=board.id %}" class="btn btn-dark">자세히 보기</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
             {% endfor %}
         </div>
      </div>
       {% else %}
      <div class="popol-search" style="background-color: white; width: 44%; padding: 30px 40px 10px 40px; margin-right: 80px; min-height: 700px;">
         <div style="margin-bottom: 30px; border-bottom: 1.5px solid gray; padding-bottom: 15px;">
            <div class="search-result" style="font-weight: bold; font-size: 25px; display: inline;">
               "{{ keyword }}"
            </div>
            <p style="display: inline">
               에 대한 포트폴리오 검색 결과가 없습니다.
            </p>
         </div>
      </div>
       {% endif %}
   </div>
</div>
{% endblock %}